*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: rgb(236, 200, 152);
    padding: 10px;
}

header .container p{
    font-weight: 900;
}
a{
    font-size: 50px;
    padding: 50px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.ezenchi{
    background-image: url("ezen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
@media screen and (max-width:626px){
    h1{
        font-size: 20px;
    }    
}
@media screen and (max-width:524px){
    a{
        font-size: 30px;
        padding: 60px;
    }
}
